
# Gizli yapılandırma dosyası (şifrelenmemiş hali)
.gitsecret/paths/mapping.cfg

# GPG özel anahtarları (ASLA depoya eklenmemeli)
.gitsecret/private-keys-v1.d/


# Python sanal ortamı
.venv/
venv/

# IDE ve OS geçici dosyaları
.vscodium/
.DS_Store
